@import 'vendor/index'; 
@import 'color'; 

*, :after, :before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0 1em;
}

section {
  margin-bottom: 2.5em;
}

.full-height > .flex {
  display: flex;

  > .v-card {
    flex: 1 1 auto;
  }
}

i.nuls {
  display: inline-block;
  height: 0.8em;
  width: 0.5em;
  background-image: url(./assets/logo_nuls.png);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;

  &.dark {
    filter: grayscale(100%) contrast(160%) brightness(2);
  }

  &.light {
    filter: grayscale(100%) contrast(160%) brightness(0.6);
  }
}
